<div style="height: inherit" flex layout="column">
    <div flex="10">
        <md-toolbar>
            <div layout="row" layout-align="center">
                <md-button class="md-icon-button" ng-click="backHome()">
                    <md-icon aria-label="GitHub">keyboard_backspace</md-icon>
                    <md-tooltip>Back</md-tooltip>
                </md-button>

                <md-button class="md-icon-button" ng-href="https://github.com/rselvanathan" target="_blank">
                    <md-icon md-svg-icon="icons/github.svg" aria-label="GitHub"></md-icon>
                    <md-tooltip>GitHub</md-tooltip>
                </md-button>

                <md-button class="md-icon-button" ng-href="https://uk.linkedin.com/in/romesh-selvanathan-ab89b85a" target="_blank">
                    <md-icon md-svg-icon="icons/linkedin.svg" aria-label="LinkedIn"></md-icon>
                    <md-tooltip>LinkedIn</md-tooltip>
                </md-button>

                <md-button class="md-icon-button" ng-href="mailto:romeshselvan@hotmail.co.uk">
                    <md-icon aria-label="email">email</md-icon>
                    <md-tooltip>Email</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
    </div>
    <div flex="90" class="tiles header">
        <md-grid-list md-cols-xs="1 " md-cols-sm="2" md-cols="3" md-row-height="4:3" md-gutter="20px" >

            <md-grid-tile >
                <md-grid-tile-header layout-align="center center" >
                    <h3>Star Rage - 3D Space Game</h3>
                </md-grid-tile-header>
                <img src="https://i.imgur.com/V4c6E39.jpg" layout-fill/>
                <md-grid-tile-footer layout="row" layout-align="center">
                    <md-button class="md-icon-button" ng-click="openLink('https://github.com/rselvanathan/star_rage')">
                        <md-icon md-svg-icon="icons/github.svg" aria-label="GitHub"></md-icon>
                        <md-tooltip>Project Github</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="playVideo('https://www.youtube.com/embed/Il942QWAwUw')">
                        <md-icon>play_circle_filled</md-icon>
                        <md-tooltip>Watch Star Rage Gameplay</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="openGallery('STAR_RAGE')">
                        <md-icon>image</md-icon>
                        <md-tooltip>Star Rage Gallery</md-tooltip>
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile>
                <md-grid-tile-header layout-align="center center">
                    <h3>Escape - 3D Puzzle Game</h3>
                </md-grid-tile-header>
                <img src="https://i.imgur.com/9JuVdHO.jpg" layout-fill/>
                <md-grid-tile-footer layout-align="center">
                    <md-button class="md-icon-button" ng-click="openLink('https://github.com/rselvanathan/escape')">
                        <md-icon md-svg-icon="icons/github.svg" aria-label="GitHub"></md-icon>
                        <md-tooltip>Project Github</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="playVideo('https://www.youtube.com/embed/BTdQwh-LtMQ')">
                        <md-icon>play_circle_filled</md-icon>
                        <md-tooltip>Watch Escape Gameplay</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="openGallery('ESCAPE')">
                        <md-icon>image</md-icon>
                        <md-tooltip>Escape Gallery</md-tooltip>
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile>
                <md-grid-tile-header layout-align="center center">
                    <h3>AngularJS Wedding RSVP Site</h3>
                </md-grid-tile-header>
                <img src="https://i.imgur.com/9r7heN2.jpg" layout-fill />
                <md-grid-tile-footer layout-align="center">
                    <md-button class="md-icon-button" ng-click="openLink('https://github.com/rselvanathan/romcharm-app')">
                        <md-icon md-svg-icon="icons/github.svg" aria-label="GitHub"></md-icon>
                        <md-tooltip>Project Github</md-tooltip>
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile>
                <md-grid-tile-header layout-align="center center">
                    <h3>Spring Boot Rest API with MongoDB</h3>
                </md-grid-tile-header>
                <img src="https://i.imgur.com/3rWjvN2.jpg" layout-fill />
                <md-grid-tile-footer layout-align="center">
                    <md-button class="md-icon-button" ng-click="openLink('https://github.com/rselvanathan/romcharm-rest')">
                        <md-icon md-svg-icon="icons/github.svg" aria-label="GitHub"></md-icon>
                        <md-tooltip>Project Github</md-tooltip>
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile>
                <md-grid-tile-header layout-align="center center">
                    <h3>Automated Mailing App using AWS SQS</h3>
                </md-grid-tile-header>
                <img src="https://i.imgur.com/HK6PRyw.jpg" layout-fill />
                <md-grid-tile-footer layout-align="center">
                    <md-button class="md-icon-button" ng-click="openLink('https://github.com/rselvanathan/mailsender')">
                        <md-icon md-svg-icon="icons/github.svg" aria-label="GitHub"></md-icon>
                        <md-tooltip>Project Github</md-tooltip>
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>

            <md-grid-tile>
                <md-grid-tile-header layout-align="center center">
                    <h3>Asynchronous Memcached Client</h3>
                </md-grid-tile-header>
                <img src="https://i.imgur.com/m1TdQGw.jpg" layout-fill />
                <md-grid-tile-footer layout-align="center">
                    <md-button class="md-icon-button" ng-click="openLink('https://github.com/rselvanathan/completable-memcached')">
                        <md-icon md-svg-icon="icons/github.svg" aria-label="GitHub"></md-icon>
                        <md-tooltip>Project Github</md-tooltip>
                    </md-button>
                </md-grid-tile-footer>
            </md-grid-tile>

        </md-grid-list>

        <ng-image-gallery images="images" methods="methods" thumbnails="false" bg-close="false"></ng-image-gallery>
    </div>
</div>