html, body{
    background-color: #303F9F;
    width: 100%;
    height: 100%;
    min-height: 500px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 6em;
}

h2 {
    color: white;
    text-align: center;
    font-size: 3em;
}

h1.smallScreen {
    color: white;
    text-align: center;
    font-size: 4em;
}

h2.smallScreen {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

h2.digitalFont {
    font-family: 'Overpass Mono', monospace;
}

md-icon {
    color: white;
}

div.tiles img {
    opacity: 1.0;
}

div.header md-grid-tile-header,
div.header md-grid-tile-footer {
    background-color: #3F51B5;
}

